<div>
  <h2 id="page-heading" data-cy="AddressHeading">
    <span jhiTranslate="gstBillsApp.address.home.title">Addresses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gstBillsApp.address.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-address"
        [routerLink]="['/address/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gstBillsApp.address.home.createLabel"> Create a new Address </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="addresses?.length === 0">
    <span jhiTranslate="gstBillsApp.address.home.notFound">No Addresses found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="addresses && addresses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="orgId">
            <div class="d-flex">
              <span jhiTranslate="gstBillsApp.address.orgId">Org Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="addressId">
            <div class="d-flex">
              <span jhiTranslate="gstBillsApp.address.addressId">Address Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="address1">
            <div class="d-flex">
              <span jhiTranslate="gstBillsApp.address.address1">Address 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="address2">
            <div class="d-flex">
              <span jhiTranslate="gstBillsApp.address.address2">Address 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pincode">
            <div class="d-flex">
              <span jhiTranslate="gstBillsApp.address.pincode">Pincode</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="stateCode.id">
            <div class="d-flex">
              <span jhiTranslate="gstBillsApp.address.stateCode">State Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let address of addresses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/address', address.id, 'view']">{{ address.id }}</a>
          </td>
          <td>{{ address.orgId }}</td>
          <td>{{ address.addressId }}</td>
          <td>{{ address.address1 }}</td>
          <td>{{ address.address2 }}</td>
          <td>{{ address.pincode }}</td>
          <td>
            <div *ngIf="address.stateCode">
              <a [routerLink]="['/state-code', address.stateCode.id, 'view']">{{ address.stateCode.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/address', address.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/address', address.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(address)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
