<div>
  <h2 id="page-heading" data-cy="OrgUserRoleHeading">
    <span jhiTranslate="gstBillsApp.orgUserRole.home.title">Org User Roles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gstBillsApp.orgUserRole.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-org-user-role"
        [routerLink]="['/org-user-role/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gstBillsApp.orgUserRole.home.createLabel"> Create a new Org User Role </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="orgUserRoles?.length === 0">
    <span jhiTranslate="gstBillsApp.orgUserRole.home.notFound">No Org User Roles found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="orgUserRoles && orgUserRoles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="roleId">
            <div class="d-flex">
              <span jhiTranslate="gstBillsApp.orgUserRole.roleId">Role Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="orgId">
            <div class="d-flex">
              <span jhiTranslate="gstBillsApp.orgUserRole.orgId">Org Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="gstBillsApp.orgUserRole.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userRole.id">
            <div class="d-flex">
              <span jhiTranslate="gstBillsApp.orgUserRole.userRole">User Role</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orgUserRole of orgUserRoles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/org-user-role', orgUserRole.id, 'view']">{{ orgUserRole.id }}</a>
          </td>
          <td>{{ orgUserRole.roleId }}</td>
          <td>{{ orgUserRole.orgId }}</td>
          <td>{{ orgUserRole.name }}</td>
          <td>
            <div *ngIf="orgUserRole.userRole">
              <a [routerLink]="['/org-users', orgUserRole.userRole.id, 'view']">{{ orgUserRole.userRole.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/org-user-role', orgUserRole.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/org-user-role', orgUserRole.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(orgUserRole)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
