<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-address-heading" data-cy="AddressCreateUpdateHeading" jhiTranslate="gstBillsApp.address.home.createOrEditLabel">
        Create or edit a Address
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gstBillsApp.address.orgId" for="field_orgId">Org Id</label>
          <input type="text" class="form-control" name="orgId" id="field_orgId" data-cy="orgId" formControlName="orgId" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gstBillsApp.address.addressId" for="field_addressId">Address Id</label>
          <input type="text" class="form-control" name="addressId" id="field_addressId" data-cy="addressId" formControlName="addressId" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gstBillsApp.address.address1" for="field_address1">Address 1</label>
          <input type="text" class="form-control" name="address1" id="field_address1" data-cy="address1" formControlName="address1" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gstBillsApp.address.address2" for="field_address2">Address 2</label>
          <input type="text" class="form-control" name="address2" id="field_address2" data-cy="address2" formControlName="address2" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gstBillsApp.address.pincode" for="field_pincode">Pincode</label>
          <input type="text" class="form-control" name="pincode" id="field_pincode" data-cy="pincode" formControlName="pincode" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gstBillsApp.address.stateCode" for="field_stateCode">State Code</label>
          <select
            class="form-control"
            id="field_stateCode"
            data-cy="stateCode"
            name="stateCode"
            formControlName="stateCode"
            [compareWith]="compareStateCode"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="stateCodeOption" *ngFor="let stateCodeOption of stateCodesCollection">{{ stateCodeOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
