<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-product-unit-heading"
        data-cy="ProductUnitCreateUpdateHeading"
        jhiTranslate="gstBillsApp.productUnit.home.createOrEditLabel"
      >
        Create or edit a Product Unit
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gstBillsApp.productUnit.unitCodeId" for="field_unitCodeId">Unit Code Id</label>
          <input
            type="text"
            class="form-control"
            name="unitCodeId"
            id="field_unitCodeId"
            data-cy="unitCodeId"
            formControlName="unitCodeId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gstBillsApp.productUnit.unitCode" for="field_unitCode">Unit Code</label>
          <input type="text" class="form-control" name="unitCode" id="field_unitCode" data-cy="unitCode" formControlName="unitCode" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gstBillsApp.productUnit.unitCodeDescription" for="field_unitCodeDescription"
            >Unit Code Description</label
          >
          <input
            type="text"
            class="form-control"
            name="unitCodeDescription"
            id="field_unitCodeDescription"
            data-cy="unitCodeDescription"
            formControlName="unitCodeDescription"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
