<div>
  <h2 id="page-heading" data-cy="TransporterHeading">
    <span jhiTranslate="gstBillsApp.transporter.home.title">Transporters</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gstBillsApp.transporter.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-transporter"
        [routerLink]="['/transporter/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gstBillsApp.transporter.home.createLabel"> Create a new Transporter </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="transporters?.length === 0">
    <span jhiTranslate="gstBillsApp.transporter.home.notFound">No Transporters found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="transporters && transporters.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="orgId">
            <div class="d-flex">
              <span jhiTranslate="gstBillsApp.transporter.orgId">Org Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="transporterId">
            <div class="d-flex">
              <span jhiTranslate="gstBillsApp.transporter.transporterId">Transporter Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="gstBillsApp.transporter.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="phoneNumber">
            <div class="d-flex">
              <span jhiTranslate="gstBillsApp.transporter.phoneNumber">Phone Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="gstBillsApp.transporter.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="address.id">
            <div class="d-flex">
              <span jhiTranslate="gstBillsApp.transporter.address">Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transporter of transporters; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/transporter', transporter.id, 'view']">{{ transporter.id }}</a>
          </td>
          <td>{{ transporter.orgId }}</td>
          <td>{{ transporter.transporterId }}</td>
          <td>{{ transporter.name }}</td>
          <td>{{ transporter.phoneNumber }}</td>
          <td jhiTranslate="{{ 'gstBillsApp.Status.' + transporter.status }}">{{ transporter.status }}</td>
          <td>
            <div *ngIf="transporter.address">
              <a [routerLink]="['/address', transporter.address.id, 'view']">{{ transporter.address.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/transporter', transporter.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/transporter', transporter.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(transporter)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
